<div class="col-sm-6 col-sm-offset-3">

  <p>Generate the <code>.ssh/authorized_keys</code> file for new EC2 servers.</p>

  <table class="table table-condensed">
    <% AwsAccount.all(:order => [:name]).each do |account| %>
      <tr>
        <td><%= account.name %></td>
        <td>
          <% if account.pub_keys.length > 0 %>
            <a href="/authorized-keys?account=<%= account.id %>"><%= account.pub_keys.length %> keys</a>
          <% else %>
            0 keys
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

</div>