<div class="col-sm-6 col-sm-offset-3">

  <p>This will query the selected AWS account and give you text you can include in your <code>~/.ssh/config</code> file so that you can SSH into the servers using just the AWS machine name as a shortcut.</p>

  <table class="table table-condensed">
    <% AwsRegion.all(:order => [:region]).each do |region| %>
      <tr>
        <td><%= region.aws_account.name %></td>
        <td><%= region.region %></td>
        <td>
          <form action="/generate-ssh-config" method="POST">
            <input type="hidden" name="id" value="<%= region.id %>">
            <input type="submit" value="Generate" class="btn btn-sm btn-primary">
          </form>        
        </td>
      </tr>
    <% end %>
  </table>

</div>